.container {
  width: 100vw;
  height: 100%;
  max-width: 900px;
  background-color: rgb(253, 246, 246);
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

#name-input {
  border-radius: 10px;
  padding: 6px;
  overflow: hidden;
  resize: none;
}

#button-submit {
  border-radius: 10px;
}

form {
  column-gap: 10px;
  display: flex;
}

.hidden {
  visibility: hidden;
}

.preview-box {
  border-style: dashed;
  width: 5cm;
  height: 1cm;
  padding: 2px;
  text-align: center;
  overflow-wrap: break-word;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.preview-text {
  max-width: 100%;
}
