* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui";
}

.container {
  margin: auto;
  width: 100vw;
  min-height: 100%;
  max-width: 900px;
  background-color: rgb(253, 246, 246);
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  color: rgb(68, 68, 68);
  text-align: center;
  width: 100%;
  background-color: aliceblue;
}

body {
  margin: 0;
  justify-content: center;
  background-color: lightgray;
}

#color-chooser {
  width: 30px;
}

.name-input {
  padding: 5px;
  width: 100%;
}

#button-submit {
  border-radius: 10px;
  padding: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 150px;
}

.previews-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preview-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.side {
  border-style: dashed;
  width: 6cm;
  height: 1.6cm;
  padding: 2px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.front-side {
  border-bottom-style: double;
}

.back-side {
  border-top: 0;
}

.fold-icon {
  height: 35px;
}

.only-print {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  .only-print {
    display: flex;
  }
}
